<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <p>The box-shadow property can be used to create paper-like cards:</p>

            <div class="card">
                <div class="header">
                    <h1>Angular2 getting started</h1>
                </div>

                <div class="container">
                    <p>October 15, 2017</p>
                </div>
            </div>
        </div>  
    </div>
</div>